body{background-color:#add8e6}
#container{padding:50px;background-color:#eee}
#container h1{font-size:48px;font-family:sans-serif;color:#0080a8}
a:link{color:#00f}
a:active{color:#800080}
a:visited{color:#800080}
a:hover{color:#ef6c00}
