.text{
	text-align: center;
	font-size: 28px;
	font-weight: bold; 	
	font-family: Garamond;
	border-style: solid;
	border-color:black;
	border-width: .3em;
	padding: .8em;
	min-width: 1em; /* For standard size of Calculator Buttons */
}
